/* color scheme: https://coolors.co/053b3e-002426-dee5e5-cecece-e0e8df*/

* {
	margin:0;
	padding:0;
}

body {
	color: black;
	text-align: center;
	font-family: 'Nunito Semibold';
}

/* #nav {
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	position: fixed;
	background-color: #DEE5E5;
	border: solid black 1px;
}

#nav div {
	background: #DEE5E5;
	border: solid black 1px;
	display: inline-block;
} */

#pop-up-settings {
	display: none;
}

{
	#contrib-github-test
}

